<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ex03.Ex04Mapper">

	<insert id="insertReply">
	INSERT INTO Reply (board_id, content, inserted) 
	VALUES (#{boardId}, #{content}, #{inserted} )
	
	</insert>
	
	<select id="selectReplyByBoardId" resultType="org.zerock.domain.ex02.ReplyDto">
	
	SELECT id id,
		board_id boardId,
		content content,
		inserted inserted
	FROM Reply
	WHERE board_id = #{boardId}
	ORDER BY id 
	
	</select>
	
	<delete id="deleteReplyById">
		DELETE FROM Reply
		WHERE id = #{id }
	</delete>
	
	<update id="updateReply">
		UPDATE Reply
		SET content = #{content }
		WHERE id = #{id }
	</update>
	
	<delete id="deleteReplyByBoard">
	DELETE FROM Reply
	WHERE board_id = #{boardId }
	</delete>
</mapper>














