<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="lecture.c07core.Car">
		<constructor-arg ref="engine"></constructor-arg>
	</bean>

	<bean id="engine" class="lecture.c07core.Engine"></bean>
</beans>
